<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Building">

	    <test name="BuildingTest">
		<parameter name="rowNum" value="2" />
		<parameter name="loginSheet" value="Login" />
		<parameter name="AddProject" value="USBuildingProject" />
		
		 <classes>
			<class name="com.arc.Building.LoginIntoArcTest" />
			  

		</classes>  
	</test>
</suite> 
